<!-- HEADER PAGE  -->
<%- include ('./partials/header.ejs')%>


<!-- NAVABAR-->
<%- include ('./partials/navbar.ejs')%>

<!--  Preloader -->
<%- include ('./partials/preloader.ejs')%>

  <!--  ALERTS MESSAGE  -->
  <%- include ('./partials/alertsMessages.ejs')%>

<!-- CONTEUDO CARD ADICINAR -->
<section class="vh-100">
  <div class="container py-4 h-75">
    <div class="row d-flex justify-content-center align-items-center h-75 ">
      <div class="col">
        <div class="card " id="list1" style="border-radius: .75rem; background-color: #f5f5f5;">
          
          <div class="card-body py-4  px-md-4">
            <p class="h1 text-center mt-3 mb-4 pb-3 text-primary">
              <img src="./images/check-list.png" alt="">
              <u> ToDoList </u>
              </p>
            <form action="/savelist" method="POST">
              <div class="pb-1">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-row align-items-center ">
                      <input type="text" name="body" class="form-control form-control-lm text-break" id="exampleFormControlInput1" placeholder="Adicionar tarefa...">
                      <div>
                        <button class="btn btn-primary">Adicionar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <hr class="my-4">
            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3" id="filterOrder">
              <p class="small mb-0 me-2 text-muted">Filtro</p>
              <select class="form-select w-auto " disabled title=>
                <option value="1">Todos</option>
                <option value="2">Completado</option>
                <option value="3">Ativo</option>
              </select>
              <p class="small mb-0 ms-4 me-2 text-muted" >Ordenar</p>
              <select class="form-select w-auto " disabled>
                <option value="1">Recentes</option>
                <option value="2">Antigos</option>
              </select>
              <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending" >
                <i class="fas fa-sort-amount-down-alt ms-2"></i>
              </a>
            </div>
      
  <!-- img para tarefas vazias  -->
    <% if(findList.length == 0){%> 
      <div class="image col-md-9 text-center ">
      <img src="./images/66.png" >
      </div>
      <div class="text-center"><%=messageListVoid%> 
      </div>
    <% } else{%>

     <%findList.forEach(list => {%> 

      <!-- MODAL EDIT -->
      <%- include ('./partials/modalEdit.ejs',{list:list})%>
      

      <!-- MODAL DELETE -->
      <%- include ('./partials/modalDelete.ejs',{list:list})%>


      <!-- CONTEUDO DA LISTA --> 
      <ul class="list-group list-group-horizontal rounded-0 bg-transparent">
        <li
          class="list-group-item d-flex align-items-center ps-0 pe-3 py-1 rounded-0 border-0 bg-transparent">
           <!--CHECK -->
          <div class="form-check ">
            <%if(list.checked){%> 

              <a href="/check/<%=list.id%>" class="form-check-input me-0 " type="checkbox" name="ck"  checked="checked" value="" id="one"
              aria-label="..."  > </a>
              <label class="check-1 form-check-label" for="one"></label>
              </div>
              <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent opacity-25" >
              <a href="/check/<%=list.id%>">  <p class="lead fw-normal mb-0 text-md-start " style="text-decoration: line-through rgb(170, 80, 255)"><%=list.body%></p>
              </li></a>

            <% }else{%> 

                <a href="/check/<%=list.id%>" class="form-check-input me-0 " type="checkbox" name="checked" value="" id="flexCheckChecked1"
                aria-label="..."  > </a>
                <li class="list-group-item px-3 py-1 d-flex align-items-center flex-grow-1 border-0 bg-transparent " >
                <a href="/check/<%=list.id%>" class="lead fw-normal mb-0 text-md-start " style="text-decoration: none;"><%=list.body%>
                </li></a>
                
            <% }%> 
            <li class="list-group-item ps-3 pe-0 py-1 rounded-0 border-0 bg-transparent">
            <div class="d-flex flex-row justify-content-end mb-1">   
            <a type="submit" id="confEditar" class="text-info " data-bs-toggle="modal" title="<%=list.body%>" data-bs-target="#modalEditar<%=list.id%>">
            <i class="fas fa-pencil-alt me-3"></i></a>             
            <a href="#!" class="text-danger" data-bs-toggle="modal" data-bs-target="#modalConfirmDelete<%=list.id%>" title="Deletar"><i
            class="fas fa-trash-alt"></i></a>
            </div>
            <div class="text-end text-muted">
            <a href="#!" class="text-muted" data-mdb-toggle="tooltip" title="Data de criação">
            <%const date = { weekday: 'long', year: 'numeric', month: 'long', day: '2-digit'}%>
            <p class="small mb-0"><i class="fas fa-info-circle me-2"></i><%=list.created_at.toLocaleString('pt-br',date)%></p>
          </a>
          </div>
            </li>
            </ul>   
        <%  }); %> 
        <%  } %> 
            </li>
          </ul>
          <span type="button" class="">
            Listas <span class="badge bg-secondary"><%=findList.length%></span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
</section>  
</body>


<%- include ('./partials/footer.ejs')%>